body{
    background-color: #343a40;
    color: white;
}
footer{
    background-color: #2F3336;
}
.col-sm{
    background-color: #6F93BB;
    border: 3px solid;
    border-color: #7F7B82;
}
.link{
    display: block;
}
.listCol{
    padding-left: 25px;
    padding-bottom: 10px;
}
ul{width: 100%;}
header{
    padding-bottom: 20px;
}
.list-group-item{
    color: black;
    background-color: #DEE5E5;
}
.sticky-top{
    bottom:0;
    width: 100%;
    background-color: #343a40;
}
#mainCardIcon{
    margin-left: auto;
    margin-right: auto;
}
.bg-dark{
    color: white;
}
.mainCard{
    width: 100%;
    border: 3px solid;
    border-color: #7F7B82;    
}
.input-group{
    width: 80%;
}
.weatherRow .card-body{
    background-color: #6F93BB;
}
.card-title{
    
    font-weight: bold;
}
.card{
    color: black;
}
.card-body img{
    height: 100px;
}
.forecast{
    margin-top: 5px;
    margin: 5px;
    font-size: 14px;
}
.forecast .card{
    font-size: 14px;
    margin: 10px;
    line-height: 10px;
    color: black;
}
.forecast .card-body{
    
    background-color: #6F93BB;
    padding: 5px;
}
.forecast .card-body img{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.forecast .card-body p{ margin-bottom: 10px;}
.forecast .card-body h4{
    font-size: 16px;
    margin-top: 2px;
    font-weight: bold;
}
.weather{
    padding-top: 30px;
    padding-bottom: 280px;
}
.weatherRow{
    padding-left: 40px;
    padding-right: 40px;
}
.uvLow{background-color: green;}
.uvModerate{background-color: yellow;}
.uvHigh{ background-color: orange;}
.uvVeryHigh{background-color: red;}
.uvExtreme{background-color: violet;}

.jumbotron{
    margin: 5px!important; 
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    background-color: #DEE5E5;
    border: 3px solid;
    border-color: #7F7B82;
}
#preSetCities{ width: 85%;}
.dropDownHeader {
    width: 85%;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropDown {
    padding-left: 0;
    padding-right: 0;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 85%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



